* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 6%;
  font-family: Gotham Pro, Arial, serif;
  width: auto;
  max-width: 1170px;
}

img { max-width: 100%; }

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.navigation {
  margin-bottom: 19px;
  height: 95.79px;
}

.navigation__logo {
  display: none;
}

.navigation__banner {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__menu {
  display: flex;
  justify-content: flex-start;
  flex: 3;
}

.navigation__link {
  margin-right: 6.7%;
}

.navigation__form {
  padding-top: 7px;
  border-bottom: 1px solid #000;
  margin-right: 2%;
  width: 20%;
  flex: 1;
}

.navigation__input {
  padding: 0;
  border: none;
  outline: none;
  vertical-align: middle;
  width: 88%;
}

.navigation__search {
  width: 9%;
  padding: 0;
  border: none;
  background: url(images/search.png) no-repeat 100%;
}

.navigation__submenu {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin: 2px 0.9% 0 0;
}

.navigation__img {
  margin-right: 4.4%;
  padding-top: 1px;
}

.navigation__link span {
  display: inline-block;
  border: none;
  color: #fff;
  font-family: Gotham Pro, Arial, serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 14.92px;
  background: #000;
  width: 14.92px;
  height: 14.92px;
  border-radius: 50%;
  padding: 0;
}

.navigation__us {
  width: 20px;
  height: 20px;
}

.navigation__burger {
  display: none;
}

.video__main,
.stories__text {
  font-size: 14px;
  line-height: 17px;
}

.catalog__wrapper {
  margin-bottom: 49px;
  padding: 89px 0 0 60px;
  width: 100%;
  height: 280px;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

.catalog__title {
  margin: 0;
  padding-bottom: 12px;
  width: 25%;
  font-size: 30px;
  line-height: 29px;
}

.catalog__shop {
  margin: 0;
}

.catalog__shop a {
  line-height: 11px;
  color: #fff;
}

a:hover { color: #f33; }

a img:hover { background: #f33; }

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.catalog__arrow {
  padding-left: 3px;
  width: 4.8%;
}

.catalog__subtitle {
  margin-bottom: 18px;
  text-align: center;
  font-size: 22px;
}

.catalog__menu {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 26px;
}

.catalog__item {
  width: 20%;
  height: 261px;
  min-width: 205px;
}

.catalog__item_1 {
  margin-right: 3.5%;
}

.catalog__item_1::before {
  position: relative;
  content: "";
  background: #000;
  opacity: 0.2;
  width: 1px;
  height: 100.18px;
  float: right;
  top: 42px;
  left: 15%;
}

.catalog__img {
  margin-left: 5%;
  margin-bottom: 23px;
}

.catalog__link {
  display: block;
  font-weight: normal;
  line-height: 16px;
}

.catalog__wrap {
  display: flex;
  justify-content: space-between;
}

.catalog__price {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  width: 30%;
}

.catalog__scale {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.catalog button {
  border: none;
  padding: 0;
  border-radius: 50%;
}

.catalog__round_grey {
  background: #c4c4c4;
  width: 7px;
  height: 7px;
}

.catalog__round_black {
  background: #0e1211;
  width: 9px;
  height: 9px;
}

.catalog__round_red {
  background: #b62e3c;
  width: 7px;
  height: 7px;
}

.catalog__round_yellow {
  background: #fdb431;
  width: 7px;
  height: 7px;
}

.catalog__round_peach {
  background: #e29d69;
  width: 9px;
  height: 9px;
}

.catalog__round_wine {
  background: #762e31;
  width: 9px;
  height: 9px;
}

.catalog__round_blue {
  background: #41479b;
  width: 7px;
  height: 7px;
}

.catalog__round_azure {
  background: #257da9;
  width: 9px;
  height: 9px;
}

.video {
  display: flex;
  justify-content: space-around;
  background: #000;
  height: 494px;
  color: #fff;
}

.video__play {
  width: 53.7%;
  height: 345px;
  background: url(images/video.png) no-repeat;
  background-size: cover;
  border: 8px solid rgba(255, 255, 255, 0.8);
  text-align: center;
}

.video__play::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.video__btn {
  background: url(images/play.png) no-repeat;
  background-size: cover;
  height: 46.8px;
  width: 46.8px;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.video__column {
  width: 22.7%;
}

.stories__title {
  margin: 0;
}

.stories__menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.stories__column {
  text-align: justify;
  width: 26%;
}

.stories__foto {
  width: 100%;
}

.stories__data {
  text-align: right;
  font-weight: bold;
  opacity: 0.3;
}

.hashtag__foto {
  display: flex;
  flex-flow: row wrap;
}

.hashtag__img {
  width: 14.3%;
}

.hashtag__img:nth-of-type(1n+2) {
  margin-left: 0;
  padding: 0;
}

.info {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

@media (max-width: 1070px) {
  body {
    padding: 0 4.6%;
  }

  .navigation {
    margin-bottom: 34px;
  }

  .navigation__img {
    width: 61px;
    height: 64px;
    margin-right: 3%;
    padding-top: 3px;
  }

  .navigation__banner {
    padding-top: 26px;
  }

  .navigation__submenu {
    margin-top: 3px;
    margin-right: 0.5%;
  }

  .navigation__link {
    margin-right: 7.5%;
  }

  .navigation__form {
    padding-top: 8px;
    margin-right: 2.4%;
  }

  .navigation__search {
    width: 8.6%;
  }

  .catalog__wrapper {
    height: 253px;
    padding: 75px 0 0 53px;
    margin-bottom: 60px;
  }

  .catalog__title {
    padding-bottom: 5px;
  }

  .catalog__arrow {
    width: 6.3%;
    padding-left: 10px;
  }

  .catalog__subtitle {
    margin-bottom: 27px;
  }

  .catalog__menu {
    margin-bottom: 44px;
  }

  .catalog__item {
    min-width: 0;
  }

  .catalog__round_grey,
  .catalog__round_red,
  .catalog__round_yellow,
  .catalog__round_blue {
    width: 6.33px;
  }

  .catalog__round_black,
  .catalog__round_peach,
  .catalog__round_wine,
  .catalog__round_azure {
    width: 8px;
  }

  .catalog__img {
    width: 170px;
    margin-bottom: 32px;
  }

  .catalog__scale {
    width: 26%;
  }
}

@media (max-width: 991px) {
  body {
    padding: 0;
  }

  .navigation {
    margin-bottom: 17px;
  }

  .navigation__logo {
    display: block;
    margin: 0;
    position: absolute;
    top: 41.5px;
    left: 5.6%;
    width: 20.5%;
  }

  .navigation__banner {
    display: none;
  }

  .navigation__burger {
    display: block;
    margin: 0;
    position: absolute;
    top: 46.5px;
    right: 5.7%;
  }

  .navigation__burger div {
    background: #000;
    width: 61px;
    height: 9px;
    margin-bottom: 7.6px;
  }

  .catalog__wrapper {
    height: 415px;
    padding: 15.6% 0 0 5.9%;
    background-position-x: -129px;
    background-size: 200%;
    margin-bottom: 62px;
  }

  .catalog__title {
    font-size: 50px;
    line-height: 48px;
    width: 45%;
    padding-bottom: 49px;
  }

  .catalog__shop a {
    font-size: 20px;
    line-height: 19px;
  }

  .catalog__subtitle {
    font-size: 30px;
    margin-right: 2%;
  }

  .catalog__menu {
    justify-content: normal;
  }

  .catalog__item {
    width: 34%;
    height: 352px;
  }

  .catalog__item_1 {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+3) { display: none; }

  .catalog__item:first-child {
    margin: 0 11.2% 0 11%;
  }

  .catalog__img {
    margin: 4px 0 27px 10px;
    width: 90%;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 19px;
  }

  .catalog__wrap {
    justify-content: normal;
    width: 105%;
  }

  .catalog__price {
    width: 35%;
    font-size: 25px;
    line-height: 58px;
    margin-right: 27.7%;
  }

  .catalog__price_1 {
    margin-right: 22.6%;
  }

  .catalog__scale {
    width: 34%;
  }

  .catalog__scale button {
    height: 20px;
    width: 20px;
  }

  .catalog__round_black {
    order: -1;
  }

  .catalog__round_1 {
    order: -2;
  }

  .catalog__arrow {
    padding-left: 2px;
    width: auto;
  }

  .catalog__item_1::before {
    display: none;
  }

  .video {
    padding-top: 10px;
  }
}

@media (max-width: 754px) {
  .catalog__wrapper {
    height: 355px;
  }

  .catalog__link {
    font-size: 18px;
    line-height: 16px;
  }

  .catalog__scale button {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 692px) {
  .catalog__title {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 20px;
  }

  .catalog__wrapper {
    margin-bottom: 0;
  }

  .catalog__shop a {
    font-size: 16px;
  }

  .catalog__link {
    font-size: 16px;
  }

  .catalog__price {
    font-size: 21px;
  }
}

@media (max-width: 653px) {
  .catalog__wrapper {
    height: 300px;
  }

  .catalog__menu {
    height: 280px;
  }

  .catalog__link {
    font-size: 14px;
  }

  .catalog__wrap {
    width: 90%;
  }

  .catalog__price {
    font-size: 19px;
    margin-right: 23%;
  }

  .catalog__scale {
    width: 45%;
  }

  .catalog__scale button {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 551px) {
  .catalog__wrapper {
    height: 250px;
  }

  .catalog__item {
    height: 0;
  }

  .catalog__price {
    font-size: 17px;
    margin-right: 20%;
  }

  .catalog__scale button {
    height: 12px;
    width: 12px;
  }
}

@media (max-width: 463px) {
  .navigation {
    height: 55px;
  }

  .navigation__logo {
    width: 27%;
    top: 23.5px;
    left: 13.2%;
  }

  .navigation__burger {
    top: 27.5px;
    right: 12.5%;
  }

  .navigation__burger div {
    width: 41px;
    height: 6px;
    margin-bottom: 5px;
  }

  .catalog__wrapper {
    height: 191px;
    padding: 0;
    margin-bottom: 0;
    background-position-x: -62px;
    background-size: 187%;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 20px;
    padding: 64px 0 13px 12.8%;
  }

  .catalog__shop {
    padding-left: 13%;
  }

  .catalog__shop a {
    font-size: 12px;
    line-height: 11px;
  }

  .catalog__arrow {
    width: 15%;
  }

  .catalog__subtitle {
    font-size: 20px;
    margin-top: 34px;
    margin-bottom: 0;
    height: 20px;
  }

  .catalog__menu {
    justify-content: center;
    margin-bottom: 0;
    height: 310px;
  }

  .catalog__item {
    width: 49%;
  }

  .catalog__item:first-child {
    margin: 0;
    height: 250px;
    width: 66%;
  }

  .catalog__item:nth-child(2) { display: none; }

  .catalog__img {
    margin-bottom: 23px;
    margin-left: 18%;
    height: 153px;
    width: 165px;
  }

  .catalog__link {
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 7px;
  }

  .catalog__wrap {
    width: 256px;
    justify-content: space-between;
  }

  .catalog__price {
    font-size: 20px;
    line-height: 19px;
    margin-right: 0;
  }

  .catalog__scale {
    width: 70px;
  }

  .catalog__scale button {
    height: 15px;
    width: 15px;
  }
}

@media (max-width: 335px) {
  .navigation__logo {
    width: 32%;
    top: 24px;
    left: 7%;
  }

  .navigation__burger {
    right: 6.3%;
  }

  .catalog__wrapper {
    background-position-x: -91px;
    background-size: 219%;
  }

  .catalog__title {
    padding-left: 6%;
    padding-bottom: 13px;
  }

  .catalog__shop {
    padding-left: 6%;
  }

  .catalog__arrow {
    width: 17%;
    padding-left: 4px;
  }

  .catalog__subtitle {
    margin-right: 3%;
  }

  .catalog__item:first-child {
    width: 79%;
  }

  .catalog__wrap {
    width: 106%;
    justify-content: space-between;
  }

  .catalog__price_1 {
    margin-right: 0;
  }

  .catalog__scale {
    width: 28%;
  }
}
